<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>.</title>
  <style>
    dfn {
      font-style: italic;
    }
  </style>
</head>

<body>

<dl>
  <dt><dfn>Source</dfn></dt>
  <dd>The North American Review, Vol. 181, No. 584, Jul., 1905, pp. 33-55</dd>
  
  <dt><dfn>Rights</dfn></dt>
  <dd>Public domain</dd>
  
  <dt><dfn>Initial epub release</dfn></dt>
  <dd>May 2021</dd>

  <dt><dfn>Latest update</dfn></dt>
  <% require 'nokogiri' %>
  <dd><%= Nokogiri::XML(File.read content_opf).css('meta[property="dcterms:modified"]').text %></dd>
</dl>

<p>
  The article was finished a month before the <i>Battle of Tsushima
  Strait</i> (27–28 May 1905).
</p>

</body>
</html>
