<?xml version="1.0" encoding="UTF-8"?>
<package version="3.0" xmlns="http://www.idpf.org/2007/opf"
         unique-identifier="bookid">

  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
    <dc:title>Autocracy and War</dc:title>
    <dc:creator id="author">Joseph Conrad</dc:creator>
    <dc:language>en</dc:language>
    <dc:identifier id="bookid">urn:uuid:5a032b9b-f5f3-40ca-a498-80eff13d8b2d</dc:identifier>
    <dc:rights>Public domain</dc:rights>

    <% require 'time' %>
    <meta property="dcterms:modified"><%= DateTime.now.to_time.utc.iso8601 %></meta>
    <meta refines="#author" property="file-as">Conrad, Joseph</meta>
  </metadata>

  <manifest>
    <item id="nav" href="nav.xhtml" media-type="application/xhtml+xml" properties="nav"/>
    <item id="cover_xhtml" href="cover.xhtml" media-type="application/xhtml+xml" />
    <item id="cover_png" href="cover.png" media-type="image/png" properties="cover-image"/>
    <item id="book" href="book.xhtml" media-type="application/xhtml+xml" />
    <item id="colophon" href="colophon.xhtml" media-type="application/xhtml+xml" />
    <item id="file0" href="style.css" media-type="text/css" />
  </manifest>

  <spine>
    <itemref idref="cover_xhtml" />
    <itemref idref="nav" />
    <itemref idref="colophon" />
    <itemref idref="book" />
  </spine>
</package>
